name: GitHub Docker Action
run-name: ${{ github.actor }} is running docker action
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: pull image
        run: docker pull quay.io/minio/minio
      - run: docker image list
      - run: docker save -o ./minio quay.io/minio/minio
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: Upload Docker Image
          path: ./minio
